@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  --ion-color-base: #f5921b;
  --ion-tab-bar-background: #fff;
  --ion-tab-bar-color-selected: var(--ion-color-base);
  --ion-color-primary: var(--ion-color-base);
  --ion-tab-bar-color: var(--ion-color-base);
}
