<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <i class="pi pi-home" style="font-size: 1rem"></i>
      Home
    </ion-tab-button>
    <ion-tab-button tab="books">
      <i class="pi pi-bookmark-fill" style="font-size: 1rem"></i>
      My Books
    </ion-tab-button>
    <ion-tab-button tab="discover">
      <i class="pi pi pi-globe" style="font-size: 1rem"></i>
      Discover
    </ion-tab-button>
    <ion-tab-button tab="search">
      <i class="pi pi-search" style="font-size: 1rem"></i>
      Search
    </ion-tab-button>
     <ion-tab-button tab="more">
      <i class="pi pi-ellipsis-h" style="font-size: 1rem"></i>
      More
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
